<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
<title>Home</title>
</head>
<body>
	<section layout:fragment="content">
		<div th:switch="${books}" class="container my-5">
			<h2>Make Order</h2>
			<br>
			<div class="col-md-10">
				
				<div th:case="*">
				<form action="#"th:object="${book}" method="post" th:action="@{/pages/add}">
					<table class="table table-hover table-striped table-responsivemd ">
						<thead class="thead-dark">
							<tr>
								<th>Title</th>
								<th>Author</th>
								<th>Price</th>
								<th>Release Date</th>
								<th>Add To Chart</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="book : ${books}">
								<td th:text="${book.title}"></td>
								<td th:text="${book.author}"></td>
								<td th:text="${book.price}"></td>
								<td th:text="${book.releaseDate}"></td>
								<td style="text-align:center"><input type="checkbox"></td>
								
							</tr>
							<tr>
							<td colspan="4"></td>
							<td style="text-align:center">
							<button type="submit"  class="btn btn-lg btn-secondary" value="Buy"> <i class="menu-icon mdi mdi-basket"> Buy</i></button>
							</td>
							</tr>
						</tbody>
					</table>
					
					
					</form>
					</div>
			</div>
		</div>
	</section>
</body>
</html>