<form #myform="ngForm" (ngSubmit)="createBook(myform)">
    <div class="form-group">
    <label for="booktitle">Book Title </label>
    <input ngModel name="booktitle" size="20" type="text" class="formcontrol" id="booktitle" />
</div>
<div class="form-group">
<label for="bookauthor">Book Author Name </label>
<input ngModel name="bookauthor" size="20" type="text" class="formcontrol" id="bookauthor" />
</div>
<div class="form-group" >
    <label for="bookreleasedate">Book Release Date </label>
    <input type="date" placeholder="yyyy-mm-dd" name="bookreleasedate" ngModel>
    </div>
<div class="form-group">
<label for="bookprice">Book Price </label>
<input ngModel name="bookprice" size="20" type="text" class="formcontrol" id="bookprice" />
</div>
<button class="btn btn-primary">Add</button>
</form>

